<head>
  <title>Math Trivia</title>
</head>

<body>
    <div ng-app="math-trivia" ng-controller="questionCtrl">
        <header>
            <h1>Math Trivia!</h1>
        </header>

        <div ng-show="correct">
            <h2>Correct!</h2>
        </div>

        <div ng-show="incorrect">
            <h2>Incorrect</h2>
            <h3>Correct answer: {{answer}}</h3>
        </div>

        <button ng-click="nextQuestion()" ng-show="correct || incorrect">Next Question</button>

        <div ng-hide="correct || incorrect">
            <h2>{{question}}</h2>
            <form novalidate>
                <input type="text" ng-model="guess" placeholder="Take a guess"/>
                <button type="submit" ng-click="submit()">Submit</button>
            </form>
        </div>


    </div>
</body>
